# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom for this project
*.log
*.out
move.sh
code/*input*
code/trace*
code/output*
code/cache*
our_version/*input*
our_version/trace*
our_version/output*
our_version/cache*
